<div class="row">
    <div class="col my-2">
        <button class="btn mx-3"
                [ngClass]="{
                    'btn-primary' : 'isHireAllActivated === false',
                    'btn-danger' : 'isHireAllActivated === true'
                }"
                [disabled]="!isActivated"
                (click)="onHireFireAll()"
        >
            {{ (isHireAllActivated) ? 'Virer les héros !' : 'Embaucher les héros !' }}
        </button>

        <button class="btn btn-secondary" (click)="onRest()">
        Mettre en congé
        </button>
    </div>
</div>