<h1>Bienvenue sur {{title}}</h1>
<h2>{{subTitle}}</h2>

<button class="btn btn-sm"
        [ngClass]="{
            'btn-success': isButtonHeroesShowToggled,
            'btn-secondary': !isButtonHeroesShowToggled
        }"
        (click)="toggleHeroesShow()"
>
    {{ isButtonHeroesShowToggled ? 'Cacher la liste' : 'Afficher la liste' }}
</button>

<app-heroes
    [isHeroesListShow]="isButtonHeroesShowToggled"
    [isHireAllActivated]="isHired"
    ></app-heroes>

<app-heroes-actions (switchHireActivated)="onSwitchHireActivated($event)"></app-heroes-actions>